{% extends "base.html" %}
{% block title %}CSE 108 Final:Account Page{% endblock %}
{% block body %}
  <h1 style="margin-bottom: 3rem;">Welcome, {{ current_user.username }}!</h1>

  <section>
    <h2>Watch Log</h2>

    <label for="watchedSearch">Search Title:</label>
    <input
      type="text"
      id="watchedSearch"
      placeholder="Search by title"
      style="height: 1.5rem; margin-bottom: 2rem;"
    >

    {% if watch_log %}
    <div class="panel" style="padding: 2rem; width: 80%;">
      <table class="show-table" style="width: 90%;">
        <thead>
          <tr>
            <th style="padding-bottom: 2rem; font-size: larger;">Cover</th>
            <th style="padding-bottom: 2rem; font-size: larger;">Title</th>
            <th style="padding-bottom: 2rem; font-size: larger;">Episode</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in watch_log %}
            <tr data-title="{{ entry.show_title | lower }}">
              <td style="text-align: center; padding-bottom: 1rem;">
                <img
                  src="{{ entry.cover or url_for('static', filename='covers/default.jpg') }}"
                  alt="{{ entry.show_title }} cover"
                  style="width:180px; height:auto;">
              </td>
              <td style="text-align: center; padding-bottom: 1rem;">
                <a href="{{ url_for('show_detail', show_id=entry.show_id) }}">
                  {{ entry.show_title }}
                </a>
              </td>
              <td style="text-align: center; padding-bottom: 1rem;">Episode {{ entry.episode_number }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <p>You haven’t watched any episodes yet.</p>
    {% endif %}
  </section>

  <hr>

  <div class="panel">
    <section>
      <h2>My Reviews</h2>
  
      {% if reviews %}
        {% for review in reviews %}
            <div class="review">
              <p>
                <strong>{{ review.show_title }}</strong>
                — Rated {{ review.rating }}/5
              </p>
              <p>{{ review.review_text }}</p>
            </div>
          {% endfor %}
      {% else %}
        <p>You haven’t written any reviews yet.</p>
      {% endif %}
    </section>
  </div>

  <script src="{{ url_for('static', filename='account.js') }}"></script>
{% endblock %}